# Порт сервера
PORT=3001

# Окружение (development, production)
NODE_ENV=development

# PostgreSQL
DATABASE_URL="postgresql://dev_user:dev_password@localhost:5432/app_db?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

APP_URL=http://localhost:3001